{% extends 'base.twig' %}

{% block title %}{{ 'contact.title'|trans }}{% endblock %}

{% block body %}
		<!-- Site Main -->
		<main class="site-main">
			<article>
				<!-- Page Header -->
				<header class="page-header">
					<div class="wrapper">
						<h1>Contact</h1>
						<h2>I'm available for freelancing. Feel free to contact me.</h2>
					</div>
				</header>
				<!-- Page Header End -->

				<!-- Page Content -->
				<div class="wrapper">
					<div class="row">
						<div class="col-md-12">
							<!-- Contact Info -->
							<div class="widget-contact-info">
								<ul>
									<li>
										<h5>EMAIL</h5>
										<p><a href="mailto:hello@mail.com">hello@mail.com</a></p>
									</li>
									<li>
										<h5>TELEPHONE</h5>
										<p>+44 20 7946 0633</p>
									</li>
									<li>
										<h5>ADDRESS</h5>
										<p>Persona Ltd. 4 Woodside Ave, London N18, England</p>
									</li>
									<li>
										<h5>FOLLOW ME</h5>
										<nav class="widget-nav-social">
											<ul>
												<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											</ul>
										</nav>
									</li>
								</ul>
							</div>
							<!-- Contact Info End -->

							<!-- Mobile Space -->
							<div class="mobile-space"></div>
							<!-- Mobile Space End -->
						</div>
						{#<div class="col-md-8 col-md-pull-4">#}
							{#<!-- Contact Form -->#}
							{#<div class="widget-contact-form">#}
								{#<div class="data-form">#}
									{#<form action="contact.php" id="contact-form" method="post">#}
										{#<div class="row">#}
											{#<div class="col-md-6">#}
												{#<input type="text" id="form-name" name="form-name" placeholder="YOUR NAME">#}
											{#</div>#}
											{#<div class="col-md-6">#}
												{#<input type="text" id="form-surname" name="form-surname" placeholder="YOUR SURNAME">#}
											{#</div>#}
											{#<div class="col-md-6">#}
												{#<input type="text" id="form-email" name="form-email" placeholder="YOUR EMAIL ADDRESS">#}
											{#</div>#}
											{#<div class="col-md-6">#}
												{#<input type="text" id="form-phone" name="form-phone" placeholder="YOUR PHONE">#}
											{#</div>#}
											{#<div class="col-md-12">#}
												{#<textarea cols="6" rows="8" id="form-message" name="form-message" placeholder="YOUR MESSAGE"></textarea>#}
											{#</div>#}
											{#<div class="col-md-12">#}
												{#<input type="submit" value="SEND FORM" class="btn">#}
											{#</div>#}
										{#</div>#}
									{#</form>#}
								{#</div>#}
							{#</div>#}
							{#<!-- Contact Form End -->#}
						{#</div>#}
					</div>
				</div>
				<!-- Page Content End -->
			</article>
		</main>
		<!-- Site Main End -->
{% endblock %}
