</div>
<!-- Site Inner End -->

<!-- Site Footer -->
<footer class="site-footer">
    <div class="wrapper">
        <div class="widget-flex">
            <div class="footer-text flex-item">
                <p>© 2016 Merouani Cédric</p>
            </div>
            <div class="footer-social flex-item">
                <nav class="widget-nav-social">
                    <ul>
                        <li><a href="https://twitter.com/lemerouani" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/Linkinou" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- Site Footer End -->
</div>
<!-- Site Container End -->


