<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Persona - Portfolio Template</title>
<meta name="description" content="Portfolio Template">
<meta name="author" content="Loco Theme - locotheme.com">
<meta name="keywords" content="personal, creative, portfolio, freelance, agency, craft, minimal, unique, work, projects, simple, clean, modern, masonry, blog"> 

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="assets/img/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/magnific.popup.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
<link rel="stylesheet" type="text/css" href="assets/css/custom.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Site Loading -->
<div class="site-loading">
	<img src="assets/img/loading.gif" alt="Loading">
</div>
<!-- Site Loading End -->

<!-- Site Back Top -->
<div class="site-backtop">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Container -->
<div class="site-wrapper">
	<!-- Site Inner -->
	<div class="site-inner">
		<!-- Site Header -->
		<header class="site-header">
			<div class="wrapper">
				<div class="widget-flex">
					<!-- Header Logo -->
					<div class="header-logo">
						<a href="index.html">Persona</a>
					</div>
					<!-- Header Logo End -->

					<!-- Header Nav -->
					<nav class="header-nav">
						<ul>
							<li><a href="about.html">About</a></li>
							<li class="sub"><a href="works-grid.html">Works</a>
								<ul>
									<li class="sub"><a href="works-grid.html">Grid</a>
										<ul>
											<li><a href="works-grid.html">Grid Default</a></li>
											<li><a href="works-grid-nospace.html">Grid Default Nospace</a></li>
											<li><a href="works-grid-over.html">Grid Over</a></li>
											<li><a href="works-grid-over-nospace.html">Grid Over Nospace</a></li>
											<li><a href="works-grid-hover.html">Grid Hover</a></li>
											<li><a href="works-grid-hover-nospace.html">Grid Hover Nospace</a></li>
										</ul>
									</li>
									<li class="sub"><a href="works-masonry.html">Masonry</a>
										<ul>
											<li><a href="works-masonry.html">Masonry Default</a></li>
											<li><a href="works-masonry-nospace.html">Masonry Default Nospace</a></li>
											<li><a href="works-masonry-over.html">Masonry Over</a></li>
											<li><a href="works-masonry-over-nospace.html">Masonry Over Nospace</a></li>
											<li><a href="works-masonry-hover.html">Masonry Hover</a></li>
											<li><a href="works-masonry-hover-nospace.html">Masonry Hover Nospace</a></li>
										</ul>
									</li>
									<li class="sub"><a href="works-single-1-full.html">Single 1</a>
										<ul>
											<li><a href="works-single-1-full.html">Single 1 Full</a></li>
											<li><a href="works-single-1-full-nospace.html">Single 1 Full Nospace</a></li>
											<li><a href="works-single-1-grid.html">Single 1 Grid</a></li>
											<li><a href="works-single-1-grid-nospace.html">Single 1 Grid Nospace</a></li>
											<li><a href="works-single-1-masonry.html">Single 1 Masonry</a></li>
											<li><a href="works-single-1-masonry-nospace.html">Single 1 Masonry Nospace</a></li>
										</ul>
									</li>
									<li class="sub"><a href="works-single-2-full.html">Single 2</a>
										<ul>
											<li><a href="works-single-2-full.html">Single 2 Full</a></li>
											<li><a href="works-single-2-full-nospace.html">Single 2 Full Nospace</a></li>
											<li><a href="works-single-2-grid.html">Single 2 Grid</a></li>
											<li><a href="works-single-2-grid-nospace.html">Single 2 Grid Nospace</a></li>
											<li><a href="works-single-2-masonry.html">Single 2 Masonry</a></li>
											<li><a href="works-single-2-masonry-nospace.html">Single 2 Masonry Nospace</a></li>
										</ul>
									</li>
									<li class="sub"><a href="works-single-3-full.html">Single 3</a>
										<ul>
											<li><a href="works-single-3-full.html">Single 3 Full</a></li>
											<li><a href="works-single-3-full-nospace.html">Single 3 Full Nospace</a></li>
											<li><a href="works-single-3-grid.html">Single 3 Grid</a></li>
											<li><a href="works-single-3-grid-nospace.html">Single 3 Grid Nospace</a></li>
											<li><a href="works-single-3-masonry.html">Single 3 Masonry</a></li>
											<li><a href="works-single-3-masonry-nospace.html">Single 3 Masonry Nospace</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="sub"><a href="blog-masonry.html">Blog</a>
								<ul>
									<li><a href="blog-masonry.html">Masonry</a></li>
									<li class="sub"><a href="blog-classic.html">Classic</a>
										<ul>
											<li><a href="blog-classic.html">Classic Full</a></li>
											<li><a href="blog-classic-right.html">Classic Right Sidebar</a></li>
											<li><a href="blog-classic-left.html">Classic Left Sidebar</a></li>
										</ul>
									</li>
									<li class="sub"><a href="blog-single-full-image.html">Single Full</a>
										<ul>
											<li><a href="blog-single-full-image.html">Full Image</a>
											<li><a href="blog-single-full-gallery.html">Full Gallery</a></li>
											<li><a href="blog-single-full-video.html">Full Video</a></li>
											<li><a href="blog-single-full-audio.html">Full Audio</a></li>
											<li><a href="blog-single-full-quote.html">Full Quote</a></li>
											<li><a href="blog-single-full-aside.html">Full Aside</a></li>
											<li><a href="blog-single-full-status.html">Full Status</a></li>
											<li><a href="blog-single-full-chat.html">Full Chat</a></li>
											<li><a href="blog-single-full-link.html">Full Link</a></li>
										</ul>
									</li>
									<li class="sub"><a href="blog-single-right-image.html">Single Right</a>
										<ul>
											<li><a href="blog-single-right-image.html">Right Image</a>
											<li><a href="blog-single-right-gallery.html">Right Gallery</a></li>
											<li><a href="blog-single-right-video.html">Right Video</a></li>
											<li><a href="blog-single-right-audio.html">Right Audio</a></li>
											<li><a href="blog-single-right-quote.html">Right Quote</a></li>
											<li><a href="blog-single-right-aside.html">Right Aside</a></li>
											<li><a href="blog-single-right-status.html">Right Status</a></li>
											<li><a href="blog-single-right-chat.html">Right Chat</a></li>
											<li><a href="blog-single-right-link.html">Right Link</a></li>
										</ul>
									</li>
									<li class="sub"><a href="blog-single-left-image.html">Single Left</a>
										<ul>
											<li><a href="blog-single-left-image.html">Left Image</a>
											<li><a href="blog-single-left-gallery.html">Left Gallery</a></li>
											<li><a href="blog-single-left-video.html">Left Video</a></li>
											<li><a href="blog-single-left-audio.html">Left Audio</a></li>
											<li><a href="blog-single-left-quote.html">Left Quote</a></li>
											<li><a href="blog-single-left-aside.html">Left Aside</a></li>
											<li><a href="blog-single-left-status.html">Left Status</a></li>
											<li><a href="blog-single-left-chat.html">Left Chat</a></li>
											<li><a href="blog-single-left-link.html">Left Link</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="sub"><a href="#">Features</a>
								<ul>
									<li><a href="style-guide.html">Style Guide</a></li>
									<li><a href="main/404.html">404 Page</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
					<!-- Header Nav End -->
					
					<!-- Header Toggle -->
					<div class="header-toggle">
						<i class="fa fa-bars"></i>
					</div>
					<!-- Header Toggle End -->
				</div>
			</div>
		</header>
		<!-- Site Header End -->

		<!-- Site Main -->
		<main class="site-main">
			<article>
				<!-- Page Header -->
				<header class="page-header">
					<div class="wrapper">
						<h1>About</h1>
						<h2>I'm a monster. Okay, I like a challenge.</h2>
					</div>
				</header>
				<!-- Page Header End -->

				<!-- Page Content -->
				<div class="wrapper">
					<div class="row">
						<div class="col-md-5">
							<img src="assets/img/photo-about.jpg" alt="About Photo" class="img-full">
							<!-- Mobile Space -->
							<div class="mobile-space"></div>
							<!-- Mobile Space End -->
						</div>
						<div class="col-md-7 align-justify">
							<h2>About me</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed sem sed augue consequat posuere. Morbi vel mi tempus, vulputate turpis finibus, hendrerit massa. Nunc condimentum sodales ultricies. Mauris nec enim ut nisl bibendum tincidunt et vitae lacus. Nullam faucibus ante felis, sit amet gravida tortor ornare nec.</p>
							<p>Pellentesque non odio condimentum, blandit metus dignissim, vestibulum purus. Mauris ut nisl et felis malesuada mollis. Sed leo nunc, consequat ac turpis ut, volutpat lobortis purus. Nullam risus quam, dignissim nec nulla a, accumsan iaculis turpis. Integer dictum arcu diam, vitae lacinia nunc porttitor vel.</p>
							<p> Maecenas est justo, faucibus non commodo et, ornare ut magna. Donec ligula tellus, cursus in diam in, accumsan ullamcorper lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ornare tempus ipsum. Curabitur non erat ac ante dictum porta id et eros. Suspendisse potenti.</p>
						</div>
					</div>
				</div>
				<!-- Page Content End-->
			</article>
		</main>
		<!-- Site Main End -->
	</div>
	<!-- Site Inner End -->
	
	<!-- Site Footer -->
	<footer class="site-footer">
		<div class="wrapper">
			<div class="widget-flex">
				<div class="footer-text flex-item">
					<p>© 2016 Persona — Portfolio Template.</p>
				</div>
				<div class="footer-social flex-item">
					<nav class="widget-nav-social">
						<ul>
							<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!-- Site Footer End -->
</div>
<!-- Site Container End -->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/magnific.popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.fitvids.js"></script>
<script src="assets/js/contact.form.js"></script>
<script src="assets/js/SmoothScroll.js"></script>

<!-- Custom Scripts -->
<script src="assets/js/custom.js"></script>
</body>
</html>
